.background {
  background-image: url("/src/assets/images/new.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

@media (min-width: 640px) {
  .background {
    background-image: url("/src/assets/images/new.png");
    background-position: center;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url("/src/assets/images/new.png");
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .background {
    background-image: url("/src/assets/images/new.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
}

@media (min-width: 1280px) {
  .background {
    background-image: url("/src/assets/images/new.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
}

.bgIndex {
  background-image: url("/src/assets/images/bg-index1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
}

.perwatanbg {
  background-image: url("/src/assets/images/101385.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.treatmentbg {
  background-image: url("/src/assets/images/100853.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
}

.textLokasiSM {
  background: linear-gradient(to right, black, white);
  color: transparent;
  background-clip: text;
}